<div class="container-fluid">
  <div class="row" *ngIf="hidden">
    <div class="col-md-12 , getFile" *ngIf="hidden">
      <input type="file" (change)="fileData($event)" />
    </div>
  </div>
  <div class="row , card , mail-header" *ngIf="!display">
    <div class="col-md-12 , card-body">
      <div class="row">
        <div class="col-md-12 , mail-subject">
          <h3>{{ subject }}</h3>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <p>
            To: {{ senderName }};

            <span class="recipients">{{ recipients }}</span>
          </p>

          <p>Cc: {{ Cc }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="card , mail-body" *ngIf="!display">
    <div *ngFor="let len of attachment; let i = index">
      <button class="attachment" (click)="downloadAttachments(i)">
        {{ attachment[i].name }}
      </button>

      <mat-icon
        aria-hidden="false"
        (click)="viewModule(i)"
        aria-label="Example home icon"
        >visibility</mat-icon
      >
      <button class="attachment" (click)="print(i)">print</button>
    </div>
    <div class="card-body , mail-body-content" [innerText]="body"></div>
  </div>
</div>
